{% extends '::social.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
<div class="container-fluid">
  <div class="row-fluid">
    <h2>Mes albums</h2>
    <div>
      {% if noalbum == false %}
      <div>Tu n'as pas d'album !!!</div>
      {#<a href="{{ path('etna_social_find_friend', {'username': username}) }}">Clique ici pour en avoir</a>#}
      {% endif %}
      {% for Allalbums in allalbums %}
      {#<div class="span1" style="float:left">
        {% if Allfriends.img == "" %}
        <img  class="img-rounded" src="{{ asset('img/inco.png') }}" alt="inco" height="100px" width="100px"/>
        {% else %}
        <img  class="img-rounded" src="{{ Allfriends.img }}" alt="inco" height="100px" width="100px"/>
        {% endif %}
      </div>#}

      <div class="span1">
	<div> {{Allalbums.nom}} </div>
        {#<div> {{ Allfriends.prenom }} {{Allfriends.nom}} </div>#}
	{#<div><a href="{{ path('etna_social_remove_friend', {'username_friend': Allfriends.username, 'username': username}) }}">Supprimer</a></div>#}
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock body %}
