{% extends '::social.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
<div class="container-fluid">
    <div class="row-fluid">
      <h1>Amis</h1>
      <div>
	{% if nofriend == false %}
	<div>Tu n'as pas d'amis !!!</div>
	<a href=" {{ path('etna_social_find_friend', {'username': username}) }}">Clique ici pour en avoir</a>
	{% endif %}
      {% for Allfriends in allfriends %}
        <div class="span1" style="float:left">
            {% if Allfriends.img == "" %}
                <img  class="img-rounded" src="{{ asset('img/inco.png') }}" alt="inco" height="100px" width="100px"/>
            {% else %}
                <img  class="img-rounded" src="{{ Allfriends.img }}" alt="inco" height="100px" width="100px"/>
            {% endif %}
        </div>

        <div class="span1">
            <div> {{ Allfriends.prenom }} {{Allfriends.nom}} </div>
	    <div><a href="#">Supprimer</a></div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock body %}
