{% extends '::social.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <div class="container-fluid">
        <div class="row-fluid">
            <h2>Mes amis</h2>
            <div>
                {% if notmyfriend == 0 %}
                    <div class="span12" style="padding-bottom:20px;"><form class="navbar-search pull-left" action="{{ path('etna_social_get_friend', {'username': username}) }}" method="post">
                            <input type="text" class="search-query" placeholder="Search" name="username_search">
                        </form>
                    </div>
                {% endif %}
                {% if searchnotfound != false %}
                    <div class="span12">{{ searchnotfound }} ne fait pas partie de tes amis</div>
                {% endif %}
                {% if nofriend == false %}
                    <div class="span12">Tu n'as pas d'amis !!!</div>
                    <div class="span12"><a href="{{ path('etna_social_find_friend', {'username': username}) }}">Clique ici pour en avoir</a></div>
                {% endif %}
                {% set i = 0 %}
                {% for Allfriends in allfriends %}
                    {% set i = i + 1 %}
                    {% if (i == 1) %}
                        <div class="row-fluid">
                    {% endif %}
                    <div class="span2">
                        <div class="span6">
                            {% if Allfriends.img == "" %}
                                <img  class="img-rounded" src="{{ asset('img/inco.png') }}" alt="inco" height="100px"/>
                            {% else %}
                                <img  class="img-rounded" src="{{ Allfriends.img }}" alt="inco" height="140px" width="140px"/>
                            {% endif %}
                        </div>

                        <div class="span6">
                            <div><a href="{{ path('etna_social_profile', {'username': Allfriends.username})}}"> {{ Allfriends.username }} </a></div>
                            <div> {{ Allfriends.prenom }} {{ Allfriends.nom }} </div>
                            {% if notmyfriend == 0 %}
                                <div><a href="{{ path('etna_social_remove_friend', {'username_friend': Allfriends.username, 'username': username}) }}">Supprimer</a></div>
                                <div><a href="{{ path('etna_social_get_friend', {'username': Allfriends.username, 'myusername': username}) }}">Ses amis</a></div>
                            {% endif %}
                        </div>
                    </div>
                    {% if (i == 6) %}
                        </div>
                        {% set i = 0 %}
                    {% endif %}
                {% endfor %}
                {% if i > 0 %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock body %}
