{% extends '::beforelogin.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}


<div class="container">
<div class="container row-fluid well span3">
<form class="form-horizontal offset3" action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

	<div class="control-group">
	    <label class="control-label" for="username">{{ 'security.login.username'|trans }}</label>
	    <div class="controls">
	    	<input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
	    </div>
	</div>

    <div class="control-group">
	    <label class="control-label" for="password">{{ 'security.login.password'|trans }}</label>
	    <div class="controls">
	   	 	<input type="password" id="password" name="_password" required="required" />
    	</div>
    </div>

    <div class="control-group">
    	
    	<label class="control-label" for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
    	<div class="controls">
    		<input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    	</div>
    </div>

    <div class="control-group">
    	<button class="controls but btn-primary" type="submit" id="_submit" name="_submit" />{{ 'security.login.submit'|trans }}</button>
    </div>
</form>
 {% if error %}
    <div class="alert alert-danger">{{ error|trans }}</div>
{% endif %}
</div>
</div>
{% endblock%}