{% extends '::social.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}{{ prenom }} {{ nom }}{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2">
            {% if img == "" %}
                <img  class="img-rounded" src="{{ asset('img/inco.png') }}" alt="inco" height="140px"/>
            {% else %}
                <img  class="img-rounded" src="{{ img }}" alt="inco" height="140px"/>
            {% endif %}
            <p id="change_photo" class="btn">Changer ma photo</p>
        </div>

        <div class="span7 info_perso">
            <h3>{{ prenom }} {{ nom }} </h3>
            <p>
                <i class="icon-user"></i> {{ genre }}
            </p>
            <div class="btn-group">
                <a href=" {{ path('etna_social_get_friend', {'username': username}) }}"><button class="btn">Mes Amis</button></a>
                <button class="btn">Mes Photos</button>
                <button class="btn">Mes paramètres</button>
            </div>
        </div>
    </div>
</div>

    <div class="span9 offset2 group_status">
        <legend>Ecrire</legend>
        {% render controller('EtnaSocialBundle:Statut:new', {'url' : app.request.pathInfo})  %}

        {% for statut in statuts %}
            {% include 'EtnaSocialBundle:Elements:statut.html.twig' %}
        {% endfor %}
    </div>

    {% endblock body %}
