{% extends '::social.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}{{ prenom }} {{ nom }}{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2">
            {% if img == "" %}
                <img  class="img-rounded" src="{{ asset('img/inco.png') }}" alt="inco" height="140px"/>
            {% else %}
                <img  class="img-rounded" src="{{ img }}" alt="inco" height="140px"/>
            {% endif %}
            <a href="{{ path('etna_social_change_photo', {'username': username}) }}"><button id="change_photo" class="btn">Changer ma photo</button></a>
        </div>

        <div class="span7 info_perso">
            <h3><a href="{{ path('etna_social_profile', {'username': username}) }}">{{ prenom }} {{ nom }}</a></h3>
            <p>
                <i class="icon-user"></i> {{ genre }}
            </p>
            <div class="btn-group menu_profil">
                <button class="btn"><i class="icon-amis"></i> <a href=" {{ path('etna_social_get_friend', {'username': username}) }}">Mes Amis</a></button>
                <button class="btn"><i class="icon-picture"></i> <a href=" {{ path('etna_social_get_albums', {'username': username}) }}">Mes Photos</a></button>
                <button class="btn"><i class="icon-cog"></i> Mes paramètres</button>
            </div>
        </div>
    </div>
</div>

    <div class="span9 offset2 group_status">
        {% render controller('EtnaSocialBundle:Statut:new', {'url' : app.request.pathInfo})  %}

        {% for statut in statuts %}
            {% include 'EtnaSocialBundle:Elements:statut.html.twig' with {'statut' : statut} %}
        {% endfor %}
    </div>

    {% endblock body %}
